.header {
    color: grey;
    text-align: center;
}
h1 {
    color: white;
}
body {background-color: black;}

.choice {
    color: white;
    text-align: center;
}

footer {
    color: white;
}